body {
    background-image: url(../img/tierno.jpg);
    background-size: cover;     /* Ajusta la imagen al tamaño del form */
    background-position:center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen al fondo */
}



h1 {
    font-size: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #800e13;
    text-shadow: 4px 4px hsl(357, 38%, 51%);; /* Sombra negra, 3px derecha, 3px abajo */
}
.flex-container {
  display:flex;/* Habilita Flexbox */
  justify-content: space-around; /* Distribuye los elementos del menú */
  background-color: hwb(34 18% 17% / 0.656);
  padding: 15px 0; 


}

.flex-container a {
    color: rgb(22, 107, 147); /* Color del texto de los enlaces */
    opacity: 0.8;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    padding: 10px 0px; /* Espaciado interno de los enlaces */
}
.flex-container > div {
  flex-direction: row;
  justify-content: space-around;
  background-color: #fcddbc;
  border-radius: 4px;
  padding: 20px;
  font-size: 20px;
  
}
    .carrusel   {
      width: 500px;             /* ancho fijo del carrusel */
      height: 300px;            /* alto fijo del carrusel */
      margin: 30px auto;        /* centrado horizontal */
      position: relative;
      overflow: hidden;         /* oculta desbordes */
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f9f9f9;
    }

    .carrusel img {
      width: 100%;
      height: 100%;
      object-fit: cover;        /* mantiene proporciones, recorta si es necesario */
      border-radius: 10px;
    }

    .controls {
      position: absolute;
      bottom: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
    }

    .controls button {
      background-color: rgba(0,0,0,0.5);
      color: white;
      border: none;
      padding: 8px 12px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
    }

    .controls button:hover {
      background-color: rgba(0,0,0,0.8);
    }


